h1 {
  background-color: #2e7282;
  text-align: center;
  padding: 20px;
}

p, li {
    color: White;
}

li {
  overflow: hidden;
  background-color: #bdb0b0;
}

li.special {
  color: orange;
  font-weight: bold;
  

}

li{
  overflow: hidden;
  background-color: #333;
}

li {
  background-color: #020202;
  text-align: center;
  padding: 10px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	padding: 10px;
	}
	
footer {
  background-color: #2e7282;
  text-align: center;
  padding: 10px;
}

body{
	background-color: #000000;
}

p, h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

